.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #249aace3;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    z-index: 1000;
  }
  
  .modal-content {
    text-align: left;
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
  }
  
  .modal-content p {
    margin-bottom: 5px;
  }

  .modal-content .price-paragraph{
    text-align: center;
  }
  
  .picture-container img {
    max-width: 60%; /* Ensure the image doesn't exceed its container width */
    height: 60%; /* Maintain aspect ratio */
    display: block; /* Ensure the image is centered */
    margin: 0 auto; /* Center the image horizontally */
  }

  .info-paragraph {
    font-size: 18px; /* Increase font size for better visibility */
    font-weight: bold; /* Make the text bold for emphasis */
    color: #333; /* Set a darker color for better contrast */
    margin-bottom: 10px; /* Add some bottom margin for spacing */
}
  
  .price-paragraph {
    font-size: 30px; /* Adjust the font size as needed */
    border: 1px solid rgb(208, 255, 0); /* Add a border around the price */
  }


.estate-button-show{
  margin-top: 20px;
  margin-left: auto; 
  margin-right: auto;
  padding: 20px 40px; 
  background-color: #00ff2a;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content; 
  font-size: 18px;
}  


.estate-button-buy {
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
    padding: 20px 40px; 
    background-color: #ffe600;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content; 
    font-size: 18px;
}

.estate-button-close {
  margin-top: 20px;
  margin-left: auto; 
  margin-right: auto;
  padding: 20px 40px; 
  background-color: #af4c4c;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content; 
  font-size: 18px;
}


.estate-button-container {
  display: flex;
  justify-content: space-between; 
  margin-top: 5px;
}


.estate-button-buy:hover {
    background-color: #fffc50;
}

.estate-button-close:hover {
  background-color: #ff6363;
}


.estate-button-show:hover {
  background-color: #b6ff63;
}

.picture-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
